<mat-sidenav-container style="min-height:800px" class="container">
  <div id="revMenuBtnContainer">
    <mat-menu id="menu" #appMenu="matMenu">
      <button mat-menu-item>save Period</button>
      <button mat-menu-item>set New Period</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-tab-group
    animationDuration="0"
    id="reviziaTabs"
    [@.disabled]="true"
    (selectedTabChange)="onSelectedTabChange($event)"
    [selectedIndex]="data.tabSelectedIdx"
  >
    <mat-tab *ngFor="let tab of data.menuList; let idx = index">
      <!-- [label]="tab.name" -->
      <ng-template mat-tab-label>
        <span> {{ tab.name }}</span>

        <!-- <span class="smallSum"> 1{{ data[tab.name + "Sum"] | BGN }}</span> -->
      </ng-template>

      <summary-sheet
        class="summaryTab"
        [tabIdx]="idx"
        [tabName]="tab.name"
        id="sumTab{{ idx }}"
      ></summary-sheet>
    </mat-tab>
    <mat-tab label="daily Cash"> </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
