<mat-sidenav-container style="min-height:800px" class="container">
  <!-- TABS    -->

  <mat-tab-group
    animationDuration="0"
    id="reviziaTabs"
    [@.disabled]="true"
    (selectedTabChange)="onSelectedTabChange($event)"
    [selectedIndex]="data.tabSelectedIdx"
  >
    <mat-tab *ngFor="let tab of data.menuList; let idx = index">
      <!-- [label]="tab.name" -->
      <ng-template mat-tab-label>
        <span> {{ tab.name }}</span>

        <!-- <span class="smallSum"> 1{{ data[tab.name + "Sum"] | BGN }}</span> -->
      </ng-template>
      <div class="headerRow">
        <tr>
          <th class="text-center name">Артикул</th>
          <th class="text-center w80 cost">ед.ц.</th>
          <th class="text-center minus">-</th>
          <th class="text-center mplus">+</th>
          <th class="text-center starts">Starts</th>
          <th class="text-center ends">Ends</th>
          <th class="text-center diff">р-ка</th>
          <th class="text-center w80 roundSold">бр.</th>
          <th class="text-center pos">pos</th>
          <th class="text-center sum">Сума</th>
        </tr>
      </div>

      <revizia-sheet
        class="menuTab"
        [date]="date"
        [editable]="editable"
        [tabIdx]="idx"
        [tabName]="tab.name"
        id="revTab{{ idx }}"
      ></revizia-sheet>
    </mat-tab>

    <!-- <mat-tab label="daily Cash"> </mat-tab> -->
    <mat-tab label="daily Cash">
      <div id="cashRev">
        <tabs-cash-rev [date]="date"></tabs-cash-rev>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
