<mat-sidenav-container style="min-height:800px" class="container">
  <!-- TABS    -->
  <!-- <div id="saveBtn">
      <button class="btn-danger" btn-rounded btn-sm>
        Save changes
      </button>
    </div> -->

  <div id="revMenuBtnContainer">
    <mat-menu id="menu" #appMenu="matMenu">
      <button mat-menu-item (click)="dayOff($event, date)">DayOff</button>
      <button
        mat-menu-item
        (click)="removeSheet($event, date)"
        *ngIf="!data._simpleMode"
      >
        delete Sheet
      </button>
      <button mat-menu-item *ngIf="!data._simpleMode">
        <!-- [matMenuTriggerFor]="subMenu" -->
        Clear old Data
      </button>
    </mat-menu>
    <mat-menu id="menuClear" #subMenu="matMenu">
      <button mat-menu-item (click)="dayClearIn($event, date)">
        clear Incoming
      </button>
      <button mat-menu-item (click)="dayClearEnd($event, date)">
        clear End
      </button>
      <button mat-menu-item (click)="dayClearAll($event, date)">
        clear All
      </button>
    </mat-menu>

    <button id="menuBtn" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <mat-tab-group
    animationDuration="0"
    id="reviziaTabs"
    [@.disabled]="true"
    (selectedTabChange)="onSelectedTabChange($event)"
    [selectedIndex]="data.tabSelectedIdx"
  >
    <mat-tab *ngFor="let tab of data.menuList; let idx = index">
      <!-- [label]="tab.name" -->
      <ng-template mat-tab-label>
        <span> {{ tab.name }}</span>

        <!-- <span class="smallSum"> 1{{ data[tab.name + "Sum"] | BGN }}</span> -->
      </ng-template>

      <revizia-sheet
        class="menuTab"
        [date]="date"
        [editable]="editable"
        [tabIdx]="idx"
        [tabName]="tab.name"
        id="revTab{{ idx }}"
      ></revizia-sheet>
    </mat-tab>

    <!-- <mat-tab label="daily Cash"> </mat-tab> -->
    <mat-tab label="daily Cash">
      <div id="cashRev">
        <tabs-cash-rev [date]="date"> </tabs-cash-rev>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
