<!-- Editable table -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto text-center">
      <div class="total">
        <span id="date">Дата:</span>
        <span id="total"> Сума {{ totalSalesSum() }}</span>
      </div>
      <div class="card" contenteditable="false">
        <div class="card-body">
          <div id="table" class="table-editable">
            <table
              contenteditable="false"
              class="table table-bordered table-responsive-md table-striped text-center"
            >
              <tr>
                <th class="text-center">Артикул</th>
                <th class="text-center">ед.ц.</th>
                <th class="text-center">-</th>
                <th class="text-center">+</th>
                <th class="text-center">Starts</th>
                <th class="text-center">Ends</th>
                <th class="text-center">р-ка</th>
                <th class="text-center">бр.</th>
                <th class="text-center">pos</th>
                <th class="text-center">Сума</th>
              </tr>
              <tr *ngFor="let item of viewList; let id = index">
                <td style="min-width: 110px;" class="textLeft">
                  <span contenteditable="false">{{ item.name }}</span>
                </td>
                <td>
                  <span class="itemPrice" contenteditable="false">{{
                    item.price | currency
                  }}</span>
                </td>
                <td>
                  {{ item.minus | hideZero }}
                </td>
                <td>
                  <!-- (blur)="updateList(item, 'mplus', $event)" -->
                  {{ item.mplus | hideZero }}
                </td>
                <td style="min-width: 80px;">
                  <span contenteditable="false">{{
                    item.starts | hideZero
                  }}</span>
                </td>
                <td>
                  {{ item.ends | hideZero }}
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.diff | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.roundSold | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                  >
                  </span>
                </td>
                <!-- | Round: item -->
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.sum | hideZero | currency }}
                  </span>
                </td>
                <!-- <td>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="remove(id)"
              >
                Remove
              </button>
            </span>
          </td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- Editable table -->
    </div>
  </div>
</div>
