<mat-sidenav-container style="min-height:800px" class="container">
  <!-- TABS    -->
  <!-- <div id="saveBtn">
      <button class="btn-danger" btn-rounded btn-sm>
        Save changes
      </button>
    </div> -->
  <mat-tab-group
    animationDuration="0"
    id="reviziaTabs"
    [@.disabled]="true"
    (selectedTabChange)="onSelectedTabChange($event)"
    [selectedIndex]="data.tabSelectedIdx"
  >
    <mat-tab *ngFor="let tab of data.menuList; let idx = index">
      <!-- [label]="tab.name" -->
      <ng-template mat-tab-label>
        <span> {{ tab.name }}</span>

        <!-- <span class="smallSum"> 1{{ data[tab.name + "Sum"] | BGN }}</span> -->
      </ng-template>

      <div class="headerRow">
        <!-- <thead > -->
        <tr>
          <th class="text-center name">Артикул</th>
          <th class="text-center  net">net</th>
          <th class="text-center  bruto">bruto 0.7</th>
          <th class="text-center  bruto">1 l/kg</th>
          <th class="text-center  tara">tara 0.7</th>
          <th class="text-center  tara">1l</th>
          <th class="text-center qty">р-я 0.7</th>
          <th class="text-center  qty">1л</th>
          <th class="text-center w90 start">startRev</th>
          <th class="text-center w90 start">netStart</th>
          <th class="text-center buy">buy</th>
          <th class="text-center store">inStorage</th>
          <th class="text-center end">end</th>
          <th class="text-center w90 end">netDiff</th>

          <th class="text-center diff">diff</th>
        </tr>
        <!-- </thead> -->
      </div>

      <tara-sheet
        class="menuTab"
        [editable]="editable"
        [tabIdx]="idx"
        [tabName]="tab.name"
        id="taraTab{{ idx }}"
      ></tara-sheet>
    </mat-tab>
    <mat-tab label="daily Cash"></mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
