.container {
  min-height: 450px;
  padding-bottom: 200px;
  margin-bottom: -200px;
}

.mat-ink-bar {
  transition: 0ms !important;
  transform: 0ms !important;
}

.smallSum {
  font-size: 0.7em;
}

.headerRow {
  height: 35px;
  position: sticky;

  width: fit-content;
  background-color: linen;
  top: 64px;
  margin-left: 44px;
  z-index: 99;
}

.headerRow tr th {
  height: 35px;
  min-width: 80px;
  font-weight: 400;
  border: 1px solid lightgray;
  border-inline-end: none;
}

th.name {
  min-width: 200px !important;
}

th.diff {
  min-width: 81px !important;
  border: 1px solid lightgray !important;
}

th.w80 {
  min-width: 80px !important;
}

th.w90 {
  min-width: 90px !important;
}
