<mat-toolbar color="primary">
  <div id="itemMenuBtnContainer">
    <button id="menuBtn" mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #appMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="areaMenu">Areas</button>
      <button mat-menu-item [matMenuTriggerFor]="revDays">RevDays</button>
    </mat-menu>

    <mat-menu id="menu1" #areaMenu="matMenu">
      <p>- - - switch Areas - - -</p>
      <button
        *ngFor="let area of data.storeData.areas; let idx = index"
        mat-menu-item
        (click)="areaChange($event, idx)"
      >
        {{ area.name }}
      </button>
      <p>- - - - -</p>
      <button mat-menu-item (click)="areaNew($event)">new Area</button>

      <button
        mat-menu-item
        (click)="removeTab($event, date)"
        *ngIf="!data._simpleMode"
      >
        remove TAB
      </button>
    </mat-menu>

    <mat-menu id="menu2" #revDays="matMenu">
      <button
        mat-menu-item
        (click)="removeTab($event, date)"
        *ngIf="!data._simpleMode"
      >
        remove TAB
      </button>
    </mat-menu>
  </div>
  <div
    id="storeName"
    contenteditable="false"
    (keyup)="keyUp($event)"
    (keydown)="keyDown('storeName', $event)"
    (click)="onClick($event)"
    (blur)="changeStoreName($event)"
    (input)="onInput($event)"
  >
    {{ data.storeData.name }}
  </div>
  <div
    id="areaName"
    contenteditable="false"
    (keyup)="keyUp($event)"
    (keydown)="keyDown('areaName', $event)"
    (click)="onClick($event)"
    (blur)="changeAreaName($event)"
    (input)="onInput($event)"
  >
    {{ data.areaName }}
  </div>

  <!-- <span class="gap">File</span>
  <span>Edit</span>
  <span class="filler"></span>
  <span>About</span>
  <span class="example-fill-remaining-space"></span> -->
</mat-toolbar>

<div class="sidenav-container">
  <!-- TABS    -->

  <mat-tab-group
    [animationDuration]="'0ms'"
    id="itemTabs"
    [@.disabled]="true"
    selectedIndex="1"
    (selectedTabChange)="onSelectedTabChange($event)"
  >
    <mat-tab disabled *ngIf="!data._simpleMode">
      <ng-template mat-tab-label>
        <div id="tabHideBtn" (click)="toggleHideTabs($event)">
          <mat-icon>code</mat-icon>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Items">
      <tabs-menu-sheet></tabs-menu-sheet>
    </mat-tab>

    <!-- <mat-tab label="daily Cash" *ngIf="showAllTabs">
        <tabs-cash-sheet> </tabs-cash-sheet>
      </mat-tab> -->

    <mat-tab label="Tara" *ngIf="showAllTabs">
      <tabs-tara-sheet></tabs-tara-sheet>
    </mat-tab>
    <mat-tab label="SUMMARY" *ngIf="showAllTabs">
      <tabs-sum-sheet></tabs-sum-sheet>
    </mat-tab>

    <mat-tab *ngFor="let tab of data.revKeys; let id = index">
      <ng-template mat-tab-label>
        {{ tab | date: "EEEE" }}
        <!-- <small>{{ data[tab + "Sum"] | BGN }}</small> -->
        <div class="smallDate">
          {{ tab | date: "d MMMM " }}
        </div>
        <!-- <span class="smallSum"> {{ data[tab.titleSum] | BGN }}</span> -->
      </ng-template>
      <tabs-rev-sheet [date]="tab"></tabs-rev-sheet>
    </mat-tab>

    <mat-tab disabled>
      <ng-template mat-tab-label>
        <div class="calendar" (click)="addTab($event)">
          <mat-icon>event</mat-icon>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

<div *ngIf="showDatePicker" class="calendar-wrapper">
  <mat-calendar #calendar (selectedChange)="onDateChanged($event)">
  </mat-calendar>
</div>
