<!-- Editable table -->
<div class="container" (mousewheel)="mousewheel($event)">
  <div class="row">
    <div class="col-md-12 mx-auto text-center ">
      <div class="total">
        <span class="date"></span>
        <span class="totalSum"> Сума: {{ dat[date + "Sum"] | BGN }}</span>
      </div>
      <div class="card">
        <div class="card-body">
          <div id="table" class="table-editable">
            <table
              contenteditable="false"
              class="table table-bordered table-responsive-md table-striped text-center"
            >
              <thead class="headerRow">
                <tr>
                  <th class="text-center name">Артикул</th>
                  <th class="text-center net">net</th>
                  <th class="text-center bruto">bruto 0.7</th>
                  <th class="text-center bruto">1 l/kg</th>
                  <th class="text-center tara">tara 0.7</th>
                  <th class="text-center tara">1l</th>
                  <th class="text-center qty">р-я 0.7</th>
                  <th class="text-center qty">1л</th>
                  <th class="text-center starts">starts</th>
                  <th class="text-center buy">buy</th>
                  <th class="text-center ends">ends</th>
                  <th class="text-center store">inStorage</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="
                    let item of dat.taraSheetView[tabName];
                    let id = index
                  "
                >
                  <td class="textLeft name">
                    <span contenteditable="false">{{ item.name }}</span>
                  </td>
                  <td>
                    <span
                      class="itemPrice net"
                      contenteditable="false"
                      [ngClass]="{ negative: item.net < 0 }"
                      >{{ item.net | number: "1.0-0" | hideZero }}</span
                    >
                  </td>

                  <ng-container *ngIf="!editable; else editTemplate">
                    <td class="bruto">
                      {{ item.bruto | hideZero }}
                    </td>
                    <td class="bruto1">
                      {{ item.bruto1 | hideZero }}
                    </td>
                    <td class="tara">
                      <span contenteditable="false">{{
                        item.tara | hideZero
                      }}</span>
                    </td>
                    <td class="tara1">
                      <span contenteditable="false">{{
                        item.tara | hideZero
                      }}</span>
                    </td>
                    <td class="taraQty">
                      <span contenteditable="false">{{
                        item.taraQty | hideZero
                      }}</span>
                    </td>
                    <td class="taraQty1">
                      <span contenteditable="false">{{
                        item.taraQty1 | hideZero
                      }}</span>
                    </td>
                    <td class="starts">
                      <span contenteditable="false">{{
                        item.starts | hideZero
                      }}</span>
                    </td>
                    <td class="buy">
                      <span contenteditable="false">{{
                        item.buy | hideZero
                      }}</span>
                    </td>
                    <td class="ends">
                      <span contenteditable="false">{{
                        item.ends | hideZero
                      }}</span>
                    </td>
                    <td class="ends">
                      <span contenteditable="false">{{
                        item.inStore | hideZero
                      }}</span>
                    </td>
                  </ng-container>

                  <ng-template #editTemplate>
                    <td
                      class="bruto"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'bruto', $event)"
                      (keydown)="keyDown(item, 'bruto', $event)"
                      (click)="onClick(item, 'bruto', $event)"
                      (blur)="onBlur(item, 'bruto', $event)"
                      (input)="onInput(item, 'bruto', $event)"
                    >
                      {{ item.bruto | hideZero }}
                    </td>

                    <td
                      class="bruto1"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'bruto1', $event)"
                      (keydown)="keyDown(item, 'bruto1', $event)"
                      (click)="onClick(item, 'bruto1', $event)"
                      (blur)="onBlur(item, 'bruto1', $event)"
                      (input)="onInput(item, 'bruto1', $event)"
                    >
                      {{ item.bruto1 | hideZero }}
                    </td>
                    <td
                      class="tara"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'tara', $event)"
                      (keydown)="keyDown(item, 'tara', $event)"
                      (click)="onClick(item, 'tara', $event)"
                      (blur)="onBlur(item, 'tara', $event)"
                      (input)="onInput(item, 'tara', $event)"
                    >
                      {{ item.tara | hideZero }}
                    </td>
                    <td
                      class="tara1"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'tara1', $event)"
                      (keydown)="keyDown(item, 'tara1', $event)"
                      (click)="onClick(item, 'tara1', $event)"
                      (blur)="onBlur(item, 'tara1', $event)"
                      (input)="onInput(item, 'tara1', $event)"
                    >
                      {{ item.tara1 | hideZero }}
                    </td>
                    <td
                      class="taraQty"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'taraQty', $event)"
                      (keydown)="keyDown(item, 'taraQty', $event)"
                      (click)="onClick(item, 'taraQty', $event)"
                      (blur)="onBlur(item, 'taraQty', $event)"
                      (input)="onInput(item, 'taraQty', $event)"
                    >
                      {{ item.taraQty | hideZero }}
                    </td>
                    <td
                      class="taraQty1"
                      :inner-text.prop="value"
                      tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                      (keyup)="keyUp(item, 'taraQty1', $event)"
                      (keydown)="keyDown(item, 'taraQty1', $event)"
                      (click)="onClick(item, 'taraQty1', $event)"
                      (blur)="onBlur(item, 'taraQty1', $event)"
                      (input)="onInput(item, 'taraQty1', $event)"
                    >
                      {{ item.taraQty1 | hideZero }}
                    </td>
                  </ng-template>

                  <td class="textRight start">
                    <span
                      contenteditable="false"
                      [ngClass]="{ negative: item.diff < 0 }"
                      >{{ item.start | hideZero }}</span
                    >
                  </td>

                  <td
                    class="textRight buy"
                    :inner-text.prop="value"
                    tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                    (keyup)="keyUp(item, 'buy', $event)"
                    (keydown)="keyDown(item, 'buy', $event)"
                    (click)="onClick(item, 'buy', $event)"
                    (blur)="onBlur(item, 'buy', $event)"
                    (input)="onInput(item, 'buy', $event)"
                  >
                    {{ item.buy | hideZero }}
                  </td>
                  <td class="textRight end">
                    <span
                      contenteditable="false"
                      [ngClass]="{ negative: item.ends < 0 }"
                      >{{ item.end | hideZero }}
                    </span>
                  </td>
                  <!-- | Round: item -->
                  <td
                    class="textRight inStore"
                    :inner-text.prop="value"
                    tabIndex="{{ 30 * (tabIdx + 1) + id * 3 }}"
                    (keyup)="keyUp(item, 'inStore', $event)"
                    (keydown)="keyDown(item, 'inStore', $event)"
                    (click)="onClick(item, 'inStore', $event)"
                    (blur)="onBlur(item, 'inStore', $event)"
                    (input)="onInput(item, 'inStore', $event)"
                  >
                    {{ item.inStore | hideZero | BGN }}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div id="total"></div>
        </div>
      </div>
      <!-- Editable table -->
    </div>
  </div>
</div>
