<!-- Editable table -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto text-center mt-5">
      <h4 class="text-center">Basic example</h4>

      <div class="card">
        <h3
          class="card-header text-center font-weight-bold text-uppercase py-4"
        >
          Editable table
          <div id="tabbed">
            <input type="button" value="+" (click)="zoomIn()" />
            <input type="button" value="-" (click)="zoomOut()" />
          </div>
        </h3>

        <div class="card-body">
          <div id="table" class="table-editable">
            <table
              contenteditable="false"
              class="table table-bordered table-responsive-md table-striped text-center"
            >
              <tr>
                <th class="text-center">Article Name</th>
                <th class="text-center">price</th>
                <th class="text-center">-</th>
                <th class="text-center">+</th>
                <th class="text-center">Starts</th>
                <th class="text-center">Ends</th>
                <th class="text-center">Diff</th>
                <th class="text-center">Sold</th>
                <th class="text-center">pos</th>
                <th class="text-center">Cash</th>
              </tr>
              <tr *ngFor="let item of dataList; let id = index">
                <td style="min-width: 110px;" class="textLeft">
                  <span contenteditable="false">{{ item.name }}</span>
                </td>
                <td>
                  <span class="itemPrice" contenteditable="false">{{
                    item.price | currency
                  }}</span>
                </td>
                <td
                  style="min-width: 70px;"
                  tabIndex="{{ 3 * id }}"
                  (keyup)="keyUp(item, 'minus', $event)"
                  (keydown)="keyDown(item, 'minus', $event)"
                  (mousedown)="onMdown(item, 'minus', $event)"
                  (click)="onClick(item, 'minus', $event)"
                  (blur)="onBlur(item, 'minus', $event)"
                >
                  {{ item.minus | hideZero }}
                </td>
                <td
                  style="min-width: 80px;"
                  tabIndex="{{ 3 * id + 1 }}"
                  (keyup)="keyUp(item, 'mplus', $event)"
                  (keydown)="keyDown(item, 'mplus', $event)"
                  (mousedown)="onMdown(item, 'mlus', $event)"
                  (click)="onClick(item, 'mplus', $event)"
                  (blur)="onBlur(item, 'mplus', $event)"
                >
                  <!-- (blur)="updateList(item, 'mplus', $event)" -->
                  {{ item.mplus | hideZero }}
                </td>
                <td style="min-width: 80px;">
                  <span contenteditable="false">{{
                    item.starts | hideZero
                  }}</span>
                </td>
                <td
                  style="min-width: 80px;"
                  tabIndex="{{ 3 * id + 2 }}"
                  (keyup)="keyUp(item, 'ends', $event)"
                  (keydown)="keyDown(item, 'ends', $event)"
                  (mousedown)="onMdown(item, 'ends', $event)"
                  (click)="onClick(item, 'ends', $event)"
                  (blur)="onBlur(item, 'ends', $event)"
                >
                  {{ item.ends | hideZero }}
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.diff | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.roundSold | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                  >
                  </span>
                </td>
                <!-- | Round: item -->
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.sum | hideZero | currency }}
                  </span>
                </td>
                <!-- <td>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="remove(id)"
              >
                Remove
              </button>
            </span>
          </td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- Editable table -->
    </div>
  </div>
</div>
