.container {
  display: contents !important;
}

button.mat-icon-button {
  line-height: 0px !important;
  width: 24px !important;
  height: 24px !important;
  margin-left: -14px;
  top: 5px;
}

#plus_Sign {
  position: absolute;
  /* right: 137px; */
  z-index: 999;
}

div.mat-menu-panel {
  /* background-color: azure !important; */
}

.headerRow {
  height: 35px;
  position: sticky;

  width: fit-content;
  background-color: linen;
  top: 64px;
  margin-left: 44px;
  z-index: 99;
}

.headerRow tr th {
  height: 35px;
  min-width: 90px;
  font-weight: 400;
  border: 1px solid lightgray;
  border-inline-end: none;
}

th.name {
  min-width: 200px !important;
}

th.cost {
  min-width: 80px !important;
}

th.DragHandleTH {
  min-width: 95px !important;
  border: 1px solid lightgray !important;
}
