<mat-sidenav-container class="sidenav-container">
  <div id="tabbed">
    <input type="button" value=" + " (click)="zoomIn()" />
    <input type="button" value=" - " (click)="zoomOut()" />
  </div>
  <!-- <app-numpad *ngIf="!order.user.id"></app-numpad> -->
  <!-- TABS    -->
  <!-- [@.disabled]="exp"
        [(selectedIndex)]="selectedIndex"
        (swipeleft)="swipeTab(1)"
        (swiperight)="swipeTab(-1)"
        mat-swipe-content="1"
        *ngIf="order"
        hidden="order.user.id"
        (click)="clickedItem($event); (false)"
        (contextmenu)="subClick($event); (false)" -->

  <mat-tab-group id="itemTabs" [@.disabled]="true" [selectedIndex]="1">
    <mat-tab label="предишен ден">
      <div cdkScrollable class="md-no-animation">
        <table-nonEditable></table-nonEditable>
      </div>
      <!-- <ng-template mat-tab-label>
              <mat-icon aria-label="Side nav toggle icon">view_carousel</mat-icon>
              <span class="iconText">plan</span>
            </ng-template>
       -->
    </mat-tab>

    <mat-tab label="Днес">
      <table-editable></table-editable>
    </mat-tab>

    <!-- <mat-tab *ngFor="let tabz of tabs" [label]="tabz.title">
            <div cdkScrollable class="md-no-animation">
              <div *ngFor="let tab of tabz.content">
                <br clear="left" />
                <div clear="left" class="groupDevider">
                  <span class="groupName">{{ tab.name }}</span>
                </div>
      
                <div *ngFor="let item of tab.items">
                  <div
                    *ngIf="item.name.length > 0"
                    class="resize button Item"
                    [class.Group]="item.is_group > 0"
                    attr.data-id="-{{ item.id }}"
                  >
                    <span class="center3">{{ item.name }}</span>
                  </div>
      
                  <br *ngIf="item.name.length == 0" clear="left" />
                </div>
              </div>
            </div>
          </mat-tab> -->
  </mat-tab-group>
</mat-sidenav-container>
