<mat-sidenav-container class="sidenav-container">
  <!-- TABS    -->

  <mat-tab-group id="itemTabs" [@.disabled]="true" [selectedIndex]="1">
    <mat-tab label="предишен ден">
      <div cdkScrollable class="md-no-animation">
        <table-sheet date="{{ date }}"></table-sheet>
      </div>
    </mat-tab>

    <mat-tab label="Днес">
      <button mat-button (click)="toggleCashSheet()">Cash</button>
      <table-sheet
        [hidden]="showCash"
        date="{{ date }}"
        editable="true"
      ></table-sheet>
      <cash-tab [hidden]="!showCash"></cash-tab>
    </mat-tab>

    <!-- <mat-tab *ngFor="let tabz of tabs" [label]="tabz.title">
             <table-sheet date="{{ date }}"></table-sheet>
          </mat-tab> -->
  </mat-tab-group>
</mat-sidenav-container>
