<mat-sidenav-container class="sidenav-container2">
  <!-- TABS    -->
  <div>.</div>
  <mat-tab-group id="cashTabs" [@.disabled]="true" [selectedIndex]="1">
    <mat-tab label="за Стоки">
      <div cdkScrollable class="md-no-animation">
        <cash-sheet data="{{ data.deliveries }}"></cash-sheet>
      </div>
    </mat-tab>

    <mat-tab label="Други">
      <cash-sheet data="{{ data.others }}"></cash-sheet>
    </mat-tab>

    <mat-tab label="Заплати">
      <cash-sheet data="{{ data.wages }}"></cash-sheet>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
