<mat-sidenav-container class="sidenav-container2">
  <!-- TABS    -->
  <div>.</div>
  <mat-tab-group id="cashTabs" [@.disabled]="true" [selectedIndex]="1">
    <mat-tab label="за Стоки">
      <div cdkScrollable class="md-no-animation">
        <cash-sheet></cash-sheet>
      </div>
    </mat-tab>

    <mat-tab label="Други">
      <cash-sheet></cash-sheet>
    </mat-tab>

    <mat-tab label="Заплати">
      <cash-sheet></cash-sheet>
      <!-- <cash-tab editable="true"></cash-tab> -->
    </mat-tab>

    <!-- <mat-tab *ngFor="let tabz of tabs" [label]="tabz.title">
               <table-sheet date="{{ date }}"></table-sheet>
            </mat-tab> -->
  </mat-tab-group>
</mat-sidenav-container>
