<mat-sidenav-container class="container">
  <!-- TABS    -->
  <!-- <div id="saveBtn">
    <button class="btn-danger" btn-rounded btn-sm>
      Save changes
    </button>
  </div> -->

  <mat-tab-group
    animationDuration="0"
    style="min-height: 400px;"
    id="menuTabs"
    (selectedTabChange)="onSelectedTabChange($event)"
    [@.disabled]="true"
    [selectedIndex]="data.tabSelectedIdx"
  >
    >
    <mat-tab *ngFor="let tab of data.menuList; let idx = index">
      <ng-template mat-tab-label>
        <span> {{ tab.name }}</span>
      </ng-template>
      <menu-sheet
        class="menuTab"
        [editable]="editable"
        [tabIdx]="idx"
        id="menuTab{{ idx }}"
      ></menu-sheet>
    </mat-tab>

    <!-- <mat-tab *ngFor="let tabz of tabs" [label]="tabz.title">
               <table-sheet date="{{ date }}"></table-sheet>
            </mat-tab> -->
  </mat-tab-group>
</mat-sidenav-container>
