/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

html {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
  zoom: 0.85;
  /* transform: scale(0.8); */
  /* font-size: 50% !important; */
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  /* font-family: LatoWebLight;
  font-style: normal; */
  background-color: rgba(0, 0, 0, 0.26);
  font-family: Roboto, sans-serif;
  font-weight: 200;
  /* font-size: 0.7rem; */
  line-height: 2;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: rgb(226, 215, 215) !important;
  width: 50px;
  height: 50px;
}

#cashRev .container {
  /* position: absolute; */
  padding-top: 100px;
}

#cashRev .mat-tab-header {
  /* position: absolute; */
  top: 110px !important;
  width: 75% !important;
  min-width: 755px;
}

#cashRev .headerRow {
  /* position: absolute; */
  top: 140px !important;
}

.mat-tab-label {
  display: block !important;
  align-items: end !important;
  min-width: 120px !important;
}

@-moz-document url-prefix() {
  .mat-tab-label {
    bottom: 1px !important;
  }
}

.mat-tab-label .mat-tab-label-content {
  font-weight: 200;

  font-size: 1.1em;
}

.mat-tab-disabled {
  min-width: 50px !important;
}

.mat-tab-header {
  position: fixed !important;
  z-index: 99;
  bottom: 0px;
  height: 35px;
  background-color: azure;
  width: 90%;
}

.mat-tab-body.mat-tab-body-active {
  background: lightgrey;
}

#reviziaTabs .mat-tab-header {
  position: fixed !important;
  z-index: 99;
  top: 40px;
  padding-left: 44px;
  height: 35px;
  background-color: azure;
  width: 100%;
}

#cashTabs .mat-tab-header {
  left: 24px;
}

#menuTabs .mat-tab-header {
  position: fixed !important;
  z-index: 99;
  top: 40px;
  padding-left: 44px;
  /* left: 24px; */
  height: 35px;
  color: black !important;
  background-color: azure;
  width: 100%;
}

.mat-tab-body.mat-tab-body-active {
  position: fixed !important;
  margin-top: 10px;
}

.mat-toolbar {
  position: fixed !important;
  top: 0px;
  font-weight: 300;
  font-family: Roboto, sans-serif;
  z-index: 99;
  height: 40px !important;
  font-size: 0.7em;
  background: darkgray !important;
}

td {
  color: black !important;
}
