/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  margin: 0px;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

body {
  /* background-image: url("bg1.jpg"); */
  font-family: LatoWebLight;
  font-style: normal;
  /*sans-serif;*/
  /*color: #ccc;*/
  background-color: rgba(0, 0, 0, 0.26);
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 200;
  /* font-size: 0.7rem; */
  line-height: 2;
}

*,
::after,
::before {
  box-sizing: border-box;
}

button {
  background-color: rgb(226, 215, 215) !important;
  width: 50px;
  height: 50px;
}

.mat-tab-label .mat-tab-label-content {
  font-weight: 200;

  font-size: 1.1em;
}

.mat-tab-label {
  align-items: end !important;
}

.mat-tab-header {
  position: fixed !important;
  z-index: 99;
  bottom: 0px;
  height: 35px;
  background-color: azure;
  width: 75%;
}

#reviziaTabs .mat-tab-header {
  position: fixed !important;
  z-index: 99;
  top: 10px;
  left: 24px;
  height: 35px;
  background-color: azure;
  width: 1118px;
}

#menuTabs .mat-tab-header {
  position: fixed !important;
  z-index: 99;
  top: 10px;
  left: 24px;
  height: 35px;
  background-color: azure;
  width: 786px;
}

.mat-tab-body.mat-tab-body-active {
  position: fixed !important;
  margin-top: 10px;
}
