<!-- Editable table -->
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto text-center ">
      <div class="total">
        <span id="date">Дата:</span>
        <span id="total"> Сума: {{ totalSalesSum() | BGN }}</span>
      </div>
      <div class="card">
        <div class="card-body">
          <div id="table" class="table-editable">
            <table
              contenteditable="false"
              class="table table-bordered table-responsive-md table-striped text-center"
            >
              <tr class="headerRow">
                <th class="text-center">Артикул</th>
                <th class="text-center">ед.ц.</th>
                <th class="text-center">-</th>
                <th class="text-center">+</th>
                <th class="text-center">Starts</th>
                <th class="text-center">Ends</th>
                <th class="text-center">р-ка</th>
                <th class="text-center">бр.</th>
                <th class="text-center">pos</th>
                <th class="text-center">Сума</th>
              </tr>
              <tr *ngFor="let item of dat[date]; let id = index">
                <td style="min-width: 110px;" class="textLeft">
                  <span contenteditable="false">{{ item.name }}</span>
                </td>
                <td>
                  <span class="itemPrice" contenteditable="false">{{
                    item.price | hideZero | BGN
                  }}</span>
                </td>

                <ng-container *ngIf="!editable; else editTemplate">
                  <td>
                    {{ item.minus | hideZero }}
                  </td>
                  <td>
                    {{ item.mplus | hideZero }}
                  </td>
                </ng-container>
                <ng-template #editTemplate>
                  <td
                    :inner-text.prop="value"
                    tabIndex="{{ 30 + id }}"
                    (keyup)="keyUp(item, 'minus', $event)"
                    (keydown)="keyDown(item, 'minus', $event)"
                    (mousedown)="onMdown(item, 'minus', $event)"
                    (click)="onClick(item, 'minus', $event)"
                    (blur)="onBlur(item, 'minus', $event)"
                    (input)="onInput(item, 'minus', $event)"
                  >
                    {{ item.minus | hideZero }}
                  </td>

                  <td
                    :inner-text.prop="value"
                    tabIndex="{{ 30 + id + 1 }}"
                    (keyup)="keyUp(item, 'mplus', $event)"
                    (keydown)="keyDown(item, 'mplus', $event)"
                    (mousedown)="onMdown(item, 'mlus', $event)"
                    (click)="onClick(item, 'mplus', $event)"
                    (blur)="onBlur(item, 'mplus', $event)"
                    (input)="onInput(item, 'mplus', $event)"
                  >
                    <!-- (blur)="updateList(item, 'mplus', $event)" -->
                    {{ item.mplus | hideZero }}
                  </td>
                </ng-template>

                <td style="min-width: 80px;">
                  <span contenteditable="false">{{
                    item.starts | hideZero
                  }}</span>
                </td>

                <td *ngIf="!editable; else editTemplate2">
                  {{ item.ends | hideZero }}
                </td>

                <ng-template #editTemplate2>
                  <td
                    :inner-text.prop="value"
                    style="min-width: 80px;"
                    tabIndex="{{ 30 + id + 2 }}"
                    (keyup)="keyUp(item, 'ends', $event)"
                    (keydown)="keyDown(item, 'ends', $event)"
                    (mousedown)="onMdown(item, 'ends', $event)"
                    (click)="onClick(item, 'ends', $event)"
                    (blur)="onBlur(item, 'ends', $event)"
                    (input)="onInput(item, 'ends', $event)"
                  >
                    {{ item.ends | hideZero }}
                  </td>
                </ng-template>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.diff | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.roundSold | hideZero }}</span
                  >
                </td>
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                  >
                  </span>
                </td>
                <!-- | Round: item -->
                <td style="min-width: 80px;" class="textRight">
                  <span
                    contenteditable="false"
                    [ngClass]="{ negative: item.diff < 0 }"
                    >{{ item.sum | hideZero | BGN }}
                  </span>
                </td>
                <!-- <td>
            <span class="table-remove">
              <button
                type="button"
                mdbBtn
                color="danger"
                rounded="true"
                size="sm"
                class="my-0"
                (click)="remove(id)"
              >
                Remove
              </button>
            </span>
          </td> -->
              </tr>
            </table>
          </div>
        </div>
      </div>
      <!-- Editable table -->
    </div>
  </div>
</div>
