.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  min-width: 105%;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  position: relative;
  top: 5px;
}

.card .card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-top: 0px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 24px;
}

th {
  min-width: 80px;
}

td {
  min-width: 80px;
}

#table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

table {
  border-collapse: collapse;
  margin-top: 60px;
  border-spacing: 2px;
}

.headerRow {
  /* position: sticky; */
}

tbody {
  display: table-caption;
  vertical-align: middle;
  border-color: inherit;
  /* padding-top: 34px; */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

table.table th {
  /* padding-top: 1.1rem;
  padding-bottom: 1rem; */

  font-weight: 400;
}
:focus {
  background-color: rgba(198, 198, 198, 0.756);
}

.itemPrice {
  font-size: 0.7em;
}

.table-bordered,
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

tr td:nth-child(1),
tr td:nth-child(2),
tr td:nth-child(5),
tr td:nth-child(9) {
  background: rgba(58, 250, 131, 0.295);
}

tr td:nth-child(7),
tr td:nth-child(10) {
  background: rgba(58, 180, 250, 0.295);
}

tr td:nth-child(8),
tr td:nth-child(9) {
  background: rgba(255, 202, 173, 0.438);
}

tr span:not([class]) {
  padding: 1rem;
}

td.textRight {
  text-align: right;
}

td.textLeft {
  text-align: left;
}

tr {
  line-height: 32.3px;
}

.text-center {
  text-align: center;
}

span.negative {
  color: red;
}

.total {
  /* text-align: right; */
  position: absolute;
  background: azure;
  height: 36px;
  width: 10%;
  bottom: 0px;
  z-index: 999;
  right: 0px;
}

.totalSum {
  position: relative;
  text-align: right;
  line-height: 24px;
  z-index: 999;
}

.date {
  text-align: left;
}

.headerRow {
  height: 35px;
  position: fixed;
  background-color: linen;
  top: 40px;
  margin-left: -1px;
}

thead tr th {
  height: 35px;
}

.mat-ink-bar {
  transition: none !important;
  transform: none !important;
}

.name {
  min-width: 200px;
}

.price {
  min-width: 80px;
}

.minus {
  min-width: 90px;
}

.plus {
  min-width: 90px;
}

.starts {
  min-width: 90px;
}

.ends {
  min-width: 90px;
}

.diff {
  min-width: 90px;
}

.roundSolad {
  min-width: 90px;
}

.pos {
  min-width: 90px;
}

.sum {
  min-width: 105px;
}
