.container {
  display: contents !important;
}

button.mat-icon-button {
  line-height: 0px !important;
  width: 24px !important;
  height: 24px !important;
  margin-left: -14px;
  top: 5px;
}

#plus_Sign {
  position: absolute;
  right: 10px;
  z-index: 999;
}
